* {
  box-sizing: border-box;
  font-family:roboto,shrikhand,sans-serif;
  font-size: 14px;
}
.page{
	width: 1440px;
	padding: 10px;
}


header #entete{
		display: flex;
		flex-wrap: wrap;
}
header #position{
	display:  flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	border-style: solid;
	background-color: #d3d3d3;
	height: 50px;
	width: 20%;
	margin: 40px;
	border-radius: 25px 25px 25px 25px;
}
header #position #search{
	color: black;
}
header #position input {
		background-color: #d3d3d3;
		border-style: none;
		font-weight: bold;
		color: black;
}
h2{
	font-size: 20px;
	font-weight: bold;
}
header #slogans{
	margin: 30px 30px 0px 300px;
	width: 60%;
}
header #slogans p{
	margin-top: 30px;
	color: darkgrey;
	font-size: 16px;
	width: 80%;
}

header #exploration{
	background-color: #9356dc;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
    margin: 40px;
  box-shadow: 0px 3px 3px #f2f2f2;
  width: 20%;
  
}
section .fonctionnement ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.fonctionnement h2{
	text-align: left;
	margin: 10px;
}
section .fonctionnement li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	border-radius: 25px;
	background-color: #f2f2f2;
	box-shadow: 1px 1px 3px lightgrey;
}
section .fonctionnement-text{
	text-align: center;
}
section  .fonctionnement-container{
	display:  flex;
	flex-direction: row;
	justify-content: space-evenly;
	
	padding-left: 10px;
	margin: 10px;
align-items: center;
	
	width: 100%;
}
section .fonctionnement-numero{
	width: 20px;

	}
section  .fonctionnement-numero p{
	border-radius: 25px;
	color: white;
	background-color: #9356DC;
	font-size: 20px;
	width: 100%;
	text-align: center;
	
}
section .fonctionnement-ico{
	color: #9356DC;
	font-size: 20px;
	padding-right: 20px;
}
aside{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
aside h2{
	text-align: left;
}
aside figure{
	display: flex;

	width: 40%;
	flex-direction: column;
	}
	
aside figure img{
	width: 100%;
	
}
footer{
	align-items: center;

}

@media only screen and (max-width: 768px){ /*phone*/
	header img{
		width: 60%;
		align-items: center;
		margin: 50px;
	}
	header #entete{
		margin: 0px;
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}

header #position{
	display:  flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	border-style: solid;
	width: 100%;
	margin: 0px;
	border-radius: 0px 0px 0px 0px;
}
header #position #search{
	color: black;
}
header #position input {
		background-color: #d3d3d3;
		border-style: none;
		font-weight: bold;
		color: black;
}
header #exploration{
	background-color: #9356dc;
  bordeR: none;
  
  color: white;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0px 3px 3px #f2f2f2;
  width:80%;

  
}
header #slogans{
	margin: 10px;
	width: 100%;
}
section .fonctionnement ul {
				flex-direction: column;
		
}
aside figure {
flex-direction: column;
		width: 100%;
}
aside figure img{
	width: 100%;
}