@media only screen and (min-width: 968px){ /*desktop*/
header{	  
#entete{
       flex-direction: column;
              
        #position{
        width:100%;
        border-radius:0px;
        margin-bottom: 0px;
        }
         #exploration{
        width:35%;
        height:45px;
        border-radius:15px;
         }
    }
 }
section {
    margin-top:50px;
        .fonctionnement{
            background-color: $color-primary-body;
            margin-bottom:20px;
            h2{
            margin:0px;
            padding-left:20px;
            padding-top:20px;
            padding-bottom:20px;
             }
            ul{
            flex-direction: row;
             justify-content: space-evenly;
            width:100%;
            background-color: white;
            margin:0px;
             }
        }
}
aside{
  padding-top:0px;
    
#presentation-restaurants{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $color-primary-body;
        margin:20px;
        border-radius:15px;
        
            figure{
                width:35%;     
               a img{
            height:200px;
             }
         }
     }
    }
}




