@media only screen and (min-width: 968px){ /*desktop*/
header{	  
#entete{
       flex-direction: row;
   
        #position{
        width:35%;
        border-radius:25px;
        }
         #exploration{
        width:35%;
        height:45px;
         }
    }
 }
section {
    margin:0px;
        .fonctionnement{
            background-color: $color-grey-secondary;
            h2{
        margin:0px;
        padding-left:20px;
        }
        ul{
         flex-direction: row;
         justify-content: space-evenly;
         width:100%;
    }
}
}
aside{
#presentation-restaurants{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
         figure{
        width: 35%;
        a img{
            height:200px;
        }
         }
    
    }
}
}
    

