@media only screen and (min-width: 968px){
#header_restaurant{
    #logo{
        justify-content: space-between;
    }
        #entete_restaurant{
            figure{
                flex-direction: column-reverse;
               
                img{
                    margin-bottom:-800px;
                }
                .title{
                    margin-top: 0px;
                }
                
                  }           
             }
    } 
#main_restaurant{
    flex-direction: column-reverse;
    section{
        flex-direction: column;
        align-content: flex-start;
                    }
        }
}
    


