header{
	#entete{
		#logo .img{
			width:80%;
			height:auto;
			max-width: 80px;
		}
		#position{
			width: 100%;
		}
		#slogans{
			>p{
				width: 80%;
				text-align: center;
			}
		}
	}
}
main {
	background-color:$color-primary-body; 
	h2 {
		font-weight:bold;
		 
		font-size: 20px;
		  } 
		  h3{
			font-size:15px;
		  }
}	
section {
	margin-bottom: 30px;
   
  	.fonctionnement {
  		h2 {
	  		margin: 10px;
  		}
  		ul {
			flex-direction: column;			
				}
	  		}
	  	}	 
aside {
	display: flex;
	flex-direction: column;  
	background-color:$color-grey-secondary;
	padding-top: 50px;
	padding-bottom: 50px;
	justify-items: stretch;

  	.title{
	  	text-align: left;
	  	margin: 10px;
  	}
  	
  	#presentation-restaurants{
		display: flex;
		flex-direction: column;
	  	flex-wrap: wrap;	  	
  			figure{
	  			display: flex;
				flex-direction: column;
			margin:30px;
				
				box-shadow: 2px 2px 2px 2px $color-grey-shadow;
				border-radius: 15px;
				a{
					width: 100%;
					img{
						width: 100%;
						border-radius: 15px 15px 0px 0px;
						object-fit: cover;
						}
					}
					.texte_centrer{
						width:100%;	
						display:flex;
						flex-direction: column;	
						background-color: $color-primary-body;	
						padding:10px;
						border-radius:0px 0px 15px 15px;					
	  					h3{
							font-weight: bold;
							font-size:18px;
		  					margin-top: 5px;
		  					margin-bottom:  10px;
		  					
  							}
		 		 	.contenu-figure {
							display: flex;
							flex-direction: row;
							justify-content:space-between;
							align-items: center;
							.fa-solid{
								color:$color-primary-btn;
								font-size: 25px;
							}
							
						}	
					}	
				}

			}
		}