
* {
	box-sizing: border-box;
	font-family:roboto,sans-serif;
	font-size: 16px;
	
}
	body{
	background-color:$color-primary-body;
}
.page {
	max-width: 1440px;
}
main {
	background-color:$color-primary-body; 
	h2 {
		font-weight:bold;
	} 
}	
aside {		
	figure{
		@include main-shadow;
	}
	> p{
		color:$color-background-footer;
	}
}
footer {
	align-items: center;
	background-color:$color-background-footer;
	color:$color-primary-body;  
	h3{		
		font-family: 'Shrikhand', cursive;
		font-weight: bold;
		font-size: 24px;
		font-style:italic;
		padding: 20px;
		text-align: left;
		color:$color-primary-body;
		width:100%;
	}
	p {
		color:$color-primary-body;
	}
	ul{
	display:flex;
	padding-left:20px;
		li {
	  		display: flex;
	  		padding: 20px 2px 2px 10px;
	  		align-items: center;
	  		justify-items: stretch;
			width:100%;
			.fa-solid {
		  		width: 20px;
	  			margin: 0px 10px 0px  0px;
	  			color:$color-primary-body;
  			}
		}
  	}
}	
