
* {
	box-sizing: border-box;
	font-family:roboto,sans-serif;
	font-size: 14px;	
}

body{
	background-color:$color-primary-body;
}

.page {
	max-width: 1440px;
}
header {
	display:flex;
	flex-direction:column;
	align-items: center;
	#entete{
  		display: flex;
  		flex-wrap: wrap;
		background-color: $color-grey-secondary;
			#exploration{
			background-color: $color-primary-btn;
  			border-radius: 25px 25px 25px 25px;
  			color: $color-primary-body;
  			font-size: 18px;
  			line-height: 40px;
  			text-align: center;
  			width: 60%;
					 }
 			#position{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				justify-items: center;
				border-style: solid;
				height: 50px;
				box-shadow:2px -2px $color-grey-secondary;
				background-color: $color-grey-primary;
				align-items: center;
	 		 	#search {
	 			 color:$color-primary-font;
				
				 	 .fa-solid{
						padding:0px 5px 0px 0px;
						max-width: 20%;
						 }
 					input {
		  		background-color: $color-grey-primary;
		  		border-style: none;
		  		font-weight: bold;
		  		color:$color-primary-font;
				font-size:16px;
				text-align:center;
 		 				}
				}
			}
  			#slogans {
	  			margin: 30px;
	 	 		h2{
					font-size: 20px;
					font-weight: bold;
					}
   				>p {
	  				margin-top: 30px;
	  				color:$color-background-footer;
	  				font-size: 16px;		
  					}
 				}
}}	  

main {
	background-color:$color-primary-body; 
	h2 {
		font-weight:bold;
		 
		font-size: 20px;
		  } 
		  h3{
			font-size:15px;
		  }
		 
}	
section {
	margin-bottom: 30px;
   
  	.fonctionnement {
  		h2 {
			weight:bold;
	 		text-align: left;
	  		margin: 10px;
  		}
  		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

	  		li {
	  			display: flex;
	  			flex-direction: row;
	  			align-items: center;
	  			margin: 10px;
	  			border-radius: 60px;
				background-color: $color-grey-secondary;
				box-shadow:5px 3px 8px $color-grey-shadow;
				
				  .fonctionnement-numero {
					width: 20px;
					border-radius: 25px;
					background-color: $color-primary-btn;
						p{					
						color: white;
						font-size: 20px;
						width: 100%;
						text-align: center;
					}
				}
				.fonctionnement-container{
					display:  flex;
					flex-direction: row;
					justify-content: space-evenly;
					
					padding-left: 10px;
					margin: 20px;
					align-items: center;
					.fonctionnement-text{
						text-align: center;
						a{
						color:black;
				  }	
				}
				  .fonctionnement-ico{
					width:20px;
					margin-right:15px;
					
				  }	
				}
	  		}
	  	}
	}
}
aside {
	> p{
		color:$color-background-footer;
}
}
footer {
	align-items: center;
	background-color:$color-background-footer;
	color:$color-primary-body;  
	h3{		
		font-family: 'Shrikhand', cursive;
		font-weight: bold;
		font-size: 24px;
		font-style:italic;
		padding: 10px;
		text-align: center;
		color:$color-primary-body;
	}
	p {
		color:$color-primary-body;
	}
	ul{
		display:flex;
	  	li {
	  		display: flex;
	  		padding: 10px 2px 2px 10px;
	  		align-items: center;
	  		justify-items: stretch;
	  		width: 25%;
			
	  		.fa-solid {
		  		width: 20px;
	  			margin: 10px 10px 10px 0px;
	  			color:$color-primary-body;
  			}
	  	}
  	}
}

