@media only screen and (min-width: 768px){ 
    /*tablet*/
    header{
        h2{
            font-size:26px;
        }
        p{
            font-size:20px;
        }
    }
    header{
        #entete{
            width: 100%;
            #exploration{
                width:50%;
                    p{
                        text-align: center;
                    }
            }  	
        }
    }
    main{
        h2{
            font-size:26px;
        }
    }
    section{       
        .fonctionnement{
            h2{
                font-size:26px;
            }
          ul{
                margin:5px 200px;
                li{
                    font-size:20px;
                    border-radius:15px;
                }
            }
        }
    }   
    aside{
        h3{
        font-size:22px;
        font-weight: bold;
        }
        p{
        font-size:22px;
        }
        #presentation-restaurants{
            figure{
            flex-direction: column;
                a{
                width:100%;
                    img{
                    border-radius:15px;    
                    }
                    texte_centrer{
                        h3{
                            font-size:26px;
                        }
                    }
                }
            }
        }
    }
}


    

