@media only screen and (min-width: 768px){ 
    #header_restaurant{
        #entete_restaurant{
            figure{
                img{
                    margin: 20px;
                    border-radius: 10px;
                }
                .title{
                    border-radius: 0px;
                    background-color: $color-primary-body;
                    border-radius:10px;
                   @include main-shadow;
                }
            }
        }
    }
    #main_restaurant{
        flex-direction:column-reverse;
        section{
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-around;
                ul{
                    flex-direction: row;
                   background-color: $color-grey-secondary;
                 width:45%;
                 
                }	
             }
         }
   }
    