@media only screen and (min-width: 768px){ /*tablet*/	
	header{
        #entete{
        width: 100%;
            
             #exploration{
                 width:50%;
                margin:0px;
                    p{
                     text-align: center;
                  }
        
                 }  	
            }
    }
section{
    .fonctionnement ul{
        width:auto;
        flex-direction: row;
        flex-wrap: wrap;
         }
    }   
aside{
    #presentation-restaurants{
        figure{
            flex-direction: row;
            a{
                width:150%;
                img{
                    border-radius:15px 0px 0px 15px;
                    
                }
                }
             }
         }
    }
}

    

