$color-primary-body:white;
$color-primary-btn:#9356DC;
$color-secondary-btn:#FF79DA;
$color-lien:#99E2D0;
$color-grey-primary:#d3d3d3;
$color-grey-secondary:#f2f2f2;
$color-grey-shadow:lightgrey;
$color-background-footer:#444444;
$color-primary-font:black;
