@import "./_reset.scss";
@import "./_home.scss";
@import "./_animation.scss";
* 
  box-sizing: border-box
  font-family:roboto,shrikhand,sans-serif
  font-size: 14px

.header{
	display: flex
	flex-direction: column
	text-align: center

.header_entête{
	font-family: skrikland
	font-size: 30px
	font-weight: bold
	}

.header_position{
	display:  flex
	flex-direction: row
	align-items: center
	justify-content: center
	}

.header_slogans--h2{
	font-size: 20px
	font-weight: bold
	}

.header_exploration{
	background-color: #9356DC
  bordeR: none
  border-radius: 25px 25px 25px 25px
  color: white
  font-size: 18px
  line-height: 40px
  text-align: center
  margin: 0
  }

