@import "./_reset.scss";
@import "./_home.scss";
@import "./_animation.scss";
$color-primary-body:white;
$color-primary-btn:#9356DC;
$color-secondary-btn:#FF79DA;
$color-lien:#99E2D0;
$color-grey-primary:#d3d3d3;
$color-grey-secondary:#f2f2f2;
$color-grey-shadow:lightgrey;
$color-background-footer:#444444;
$color-primary-font:black;


* {
	box-sizing: border-box;
	font-family:roboto,shrikhand,sans-serif;
	font-size: 14px;
  }
  body{
	background-color:$color-primary-body;}
  	.page{
	  width: 1440px;
	  padding: 10px;
	}
  	.header {
  		.header.entete{
		  display: flex;
		  flex-wrap: wrap;

			.header.entete.exploration{
			background-color: $color-primary-btn;
		  border: none;
		  border-radius: 25px 25px 25px 25px;
		  color:$color-primary-body;
		  font-size: 18px;
		  line-height: 40px;
		  text-align: center;
			margin: 40px;
		  width: 20%;
		  }
  
 		 	.position{
	  display:  flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-evenly;
	  border-style: solid;
	  background-color:$color-primary-btn;
	  height: 50px;
	  width: 20%;
	  margin: 40px;
	  border-radius: 25px 25px 25px 25px;
  
 		 		>.search{
	 		 color:$color-primary-font;
  				}

 				 >.input {
		  background-color: $color-grey-primary;
		  border-style: none;
		  font-weight: bold;
		  color:$color-primary-font;
 		 		}
		}
   
  		.slogans{
	  margin: 30px 30px 0px 300px;
	  width: 60%;
	 	 >.h2{
		font-size: 20px;
		font-weight: bold;
			}
   			>.p{
	  margin-top: 30px;
	  color: darkgrey;
	  font-size: 16px;
	  width: 80%;
  			}
 		 }
	}	  
}
  section{
	  background-color:$color-primary-body;
	  margin-bottom: 30px;
  
  
  .fonctionnement h2{
	  text-align: left;
	  margin: 10px;
  }
  section .fonctionnement ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	  section .fonctionnement li {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  margin: 10px;
	  border-radius: 60px;
	  background-color: $color-grey-secondary;
	  box-shadow: 1px 1px 3px lightgrey;
	  	section .fonctionnement-numero{
		width: 20px;
		}
		section  .fonctionnement-container{
			display:  flex;
			flex-direction: row;
			justify-content: space-evenly;
			
			padding-left: 10px;
			margin: 20px;
		align-items: center;
		
	  }
	}
	

}
  section .fonctionnement-text{
	  text-align: center;
  
  
	  
	    section  .fonctionnement-numero p{
	  border-radius: 25px;
	  color: white;
	  background-color: $color-primary-btn;
	  font-size: 20px;
	  width: 100%;
	  text-align: center;
	  
  }
}
  section .fa-solid{
	  color:$color-primary-btn;
	  font-size: 20px;
	  padding-right: 20px;
  }

}
  aside{
	  display: flex;
	  flex-direction: column;
	  
	  flex-wrap: wrap;
	  background-color:$color-grey-secondary;
	  padding-top: 50px;
	  padding-bottom: 50px;
	  justify-items: stretch;
  }
  aside .title{
	  text-align: left;
	  margin: 10px;
  }
  aside #presentation-restaurants{
	  display: flex;
	  flex-wrap: wrap;
  }
  aside figure h3{
	  font-weight: bold;
	  margin-top: 5px;
	  margin-bottom:  10px;
	  margin-left: 5px;
	  font-size: 18px;
  }
  aside figure{
	  display: flex;
	  width: 40%;
	  flex-direction: column;
	  border-radius: 10px;
	  box-shadow: 1px 2px 3px lightgrey;
	  margin: 10px;
	  background-color:$color-primary-body;
	  }
	  aside .contenu-figure{
		  display: flex;
		  flex-direction: row;
		  justify-content: center;
		  margin: 5px;
	  }
	  
  
  aside figure .contenu-figure #lieu {
	  width: 80%;
  }
  
	  
  aside figure img{
	  width: 100%;
	  border-radius: 10px 10px 0px 0px;
	  }
	  aside figure #rating{
		  text-align: right;
	  }
  footer{
	  align-items: center;
	  background-color:$color-background-footer;
	  color:$color-primary-body;
  
  }
  footer p{
	color:$color-primary-body;
}
   	footer ul {
	  display: flex;
	  flex-direction: row;
  }
  		footer ul li{
	  display: flex;
	  padding: 10px 2px 2px 10px;
	  align-items: center;
	  justify-items: stretch;
	  width: 25%;
	  }
	  footer ul li .fa-solid {
		  width: 20px;
	  margin: 10px 10px 10px 0px;
	  color:$color-primary-body;
  }
  footer h3{
	  font-family:shrikhand ;
	  font-weight: bold;
	  font-size: 24px;
	  padding: 10px;
	  text-align: center;
	  color:$color-primary-body;
	  }
	



  @media only screen and (max-width: 768px){ /*phone*/
	  header img{
		  width: 60%;
		  align-items: center;
		  margin: 50px;
	  }
	  header #entete{
		  margin: 0px;
	  display: flex;
	  flex-direction: column-reverse;
	  text-align: center;
  }
  
  header #position{
	  display:  flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-evenly;
	  border-style: solid;
	  width: 100%;
	  margin: 0px;
	  border-radius: 0px 0px 0px 0px;
  }
  
  header #position input {
		 
		  border-style: none;
		  font-weight: bold;
		 
  }
  header #exploration{

	bordeR: none;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	
	width:80%;
  
	
  }
  header #slogans{
	  margin: 10px;
	  width: 100%;
  }
  section .fonctionnement ul {
				  flex-direction: column;
		  
  }
  aside figure {
  flex-direction: column;
		  width: 100%;
  }
  aside figure img{
	  width: 100%;
  }
  footer h3{
	  text-align: left;
  }
  footer ul {
	  flex-direction: column;
	    }
  
  footer ul li{
	  display: flex;
	  padding: 10px 2px 2px 10px;
	  align-items: center;
	
	     }
  footer ul li .fa-solid {
		  width: 20px;
	  margin: 10px 10px 10px 0px;
  }
  }

  