* {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-size: 14px;
}

body {
  background-color: white;
}

.page {
  max-width: 1440px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #entete {
  background-color: #f2f2f2;
}

main {
  background-color: white;
}
main h2 {
  font-weight: bold;
  font-size: 20px;
}
main h3 {
  font-size: 15px;
}

aside figure {
  box-shadow: 5px 3px 8px #bababa;
}
aside > p {
  color: #444444;
}

footer {
  align-items: center;
  background-color: #444444;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
  padding: 20px;
  text-align: left;
  color: white;
}
footer p {
  color: white;
}
footer ul {
  display: flex;
  padding-left: 20px;
}
footer ul li {
  display: flex;
  padding: 20px 2px 2px 10px;
  align-items: center;
  justify-items: stretch;
  width: 100%;
}
footer ul li .fa-solid {
  width: 20px;
  margin: 10px 10px 10px 0px;
  color: white;
}

header #logo img {
  align-items: center;
  height: auto;
}
header #entete {
  flex-direction: column;
  align-items: center;
}
header #entete #exploration {
  margin: 40px;
  background-color: #9356DC;
  border-radius: 25px 25px 25px 25px;
  color: white;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
header #entete #position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  border-style: solid;
  height: 50px;
  box-shadow: 2px -2px #f2f2f2;
  background-color: #d3d3d3;
  align-items: center;
  width: 100%;
}
header #entete #position #search {
  color: black;
}
header #entete #position #search .fa-solid {
  padding: 0px 5px 0px 0px;
  max-width: 20%;
}
header #entete #position #search input {
  background-color: #d3d3d3;
  border-style: none;
  font-weight: bold;
  color: black;
  font-size: 16px;
  text-align: center;
}
header #entete #slogans {
  margin: 30px;
  text-align: center;
}
header #entete #slogans h2 {
  font-size: 20px;
  font-weight: bold;
}
header #entete #slogans > p {
  margin-top: 30px;
  color: #444444;
  font-size: 16px;
}

section {
  margin-bottom: 30px;
}
section .fonctionnement h2 {
  weight: bold;
  text-align: left;
  margin: 10px;
}
section .fonctionnement ul {
  display: flex;
  flex-direction: column;
}
section .fonctionnement ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  border-radius: 60px;
  background-color: #f2f2f2;
  box-shadow: 5px 3px 8px #bababa;
}
section .fonctionnement ul li .fonctionnement-numero {
  width: 20px;
  border-radius: 25px;
  background-color: #9356DC;
}
section .fonctionnement ul li .fonctionnement-numero p {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
section .fonctionnement ul li .fonctionnement-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 10px;
  margin: 20px;
  align-items: center;
}
section .fonctionnement ul li .fonctionnement-container .fonctionnement-text {
  text-align: center;
}
section .fonctionnement ul li .fonctionnement-container .fonctionnement-text a {
  color: black;
}
section .fonctionnement ul li .fonctionnement-container .fonctionnement-ico {
  width: 20px;
  margin-right: 15px;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-items: stretch;
}
aside .title {
  text-align: left;
  margin: 20px;
}
aside #presentation-restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
aside #presentation-restaurants figure {
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-shadow: 5px 3px 8px #bababa;
  border-radius: 15px;
}
aside #presentation-restaurants figure a {
  width: 100%;
}
aside #presentation-restaurants figure a img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
aside #presentation-restaurants figure .texte_centrer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
}
aside #presentation-restaurants figure .texte_centrer h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
aside #presentation-restaurants figure .texte_centrer > p {
  color: #444444;
  font-size: 16px;
}
aside #presentation-restaurants figure .texte_centrer .contenu-figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
aside #presentation-restaurants figure .texte_centrer .contenu-figure > .fa-solid {
  color: #9356DC;
  font-size: 20px;
  padding-right: 20px;
}
aside #presentation-restaurants figure .texte_centrer .contenu-figure > .fa-regular {
  color: #444444;
  font-size: 20px;
  padding-right: 20px;
}

footer {
  display: flex;
  flex-direction: column;
}
footer ul {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
}
header #logo {
  display: flex;
  align-items: center;
}
header #entete {
  width: 100%;
}
header #entete figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #entete figure img {
  width: 100%;
}
header #entete figure .titre {
  border-radius: 60px 60px 0px 0px;
  display: flex;
  height: 100px;
  width: 100% h1;
  width-width: 100%;
  width-border-radius: 25px;
}

@media only screen and (min-width: 768px) { /*tablet*/ }
@media only screen and (min-width: 968px) { /*desktop*/ }/*# sourceMappingURL=style.css.map */